.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-size: 16;
  font-family: "var(--font-family)";
}
.errorMsg {
  margin: 8px 0;
  color: "red";
  /* font-size: $font-xxs; */
  text-align: center;
}
