.project-container {
  padding: 20px;
  .project-heading-part {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
.table-container {
  margin-top: 30px;
  padding: 0px 25px;
  width: 100%;
}

.process-step-div {
  display: flex;
  align-items: center;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-1f5ro5o-MuiButtonBase-root-MuiButton-root {
  font-family: var(--font-family);
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-18st3fs-MuiButtonBase-root-MuiButton-root {
  font-family: var(--font-family);
}
