@import "../../assests/mixins";
.nav-button {
  padding: 5px 16px;
}

.button {
  background-color: transparent !important;
  border: none;
  padding: 5px 16px;
  width: 100%;
  cursor: pointer;
  color: $primary-color;
  font-size: $font-size;
}
