@import "../../assests/mixins";
.nav-button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.nav-button img:hover {
  fill: $primary-color;
}

.link {
  background-color: transparent !important;
  border: none;
  padding: 5px 16px;
  text-decoration: none;
  color: inherit;
  width: 100%;
  cursor: pointer;
  font-size: $font-size;
  height: 40px;
}
