.project-container {
  padding: 20px;
  .project-heading-part {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
.table-container {
  margin-top: 30px;
  padding: 0px 25px;
  width: 100%;
}

.process-step-div {
  display: flex;
  align-items: center;
}
