.input-selector-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0px;
  select {
    width: 100%;
    height: 50px;
    border: 1px solid #8681812e;
    outline: none;
    padding: 0px 15px;
    font-size: 22px;
    box-sizing: border-box;
    background-color: white;
    outline: none;
    option {
      outline: none;
      background-color: white;
    }
  }
}
