$primary: #5286FF;
$primary01:#5988EC;
$primary02:#5187FF;
$primary03:#306BE8;
$primary04:#3267B1;
$primary05:rgba(50, 103, 177, 0.74);
$primary06:#1d5ce1;
$primary07:#c7d3e3;
$secondary:#242450;
$white:#ffffff;
$white01:#F5F5F5;
$white02:#C6D2E2;
$white03:#F1F1F3;
$white04:#F2F2F4;
$white05:#ccc;
$black:#000000;
$black02:#434343;
$green:#3F9835;
$green01:#409A37;
$green02: #3F9B35;
$darkGray:#222223;
$gray:#505050;
$paua: #252550;
$gray01:#222223;
$gray02:#7D7D7D;
$gray03:#b1b1b1;
$gray04:#60606d;
$gray05:#1D1D1F;
$gray06:#707070;
$gray07: #C4C4C4;
$gray08: #404040;
$gray09: #EEEEEE;
$lightGray:#B1B3B6;
$lightGray01:#9E9E9E;
$lightGray02:#D8D8D8;
$lightGray03:#CECECE;
$lightGray04:#939598;
$lightGray05:#e3e1e1;
$yellow:#FFC000;
$yellow01:#FFCB33;
$yellow02:#FFBF01;
$red:#CC0044;
$red01:#b20740;
$red02:#B12241;
$red1:#F44336;
$lightWhite: rgba(255, 255, 255, 0.5);

//Border
$border01 :  1px solid rgba(0, 0, 0, 0.5);
// Shadow variable
$shadow01: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.25));
$shadow02: 0px 4px 4px rgba(0, 0, 0, 0.25);
// Font Sizes

$font-xxs:10px;
$font-xxss:11px;
$font-xs:12px;
$font-sxm:13px;
$font-sm:14px;
$font-md:15px;
$font-lg:16px;
$font-mlg:18px;
$font-mxlg:19px;
$font-xl:20px;
$font-xxl:22px;
$font-xxxl:24px;
$font-xllg:25px;
$font-big:26px;
$font-xbig:29px;
$font-mbig:32px;
$font-xmbig:30px;
$font-mdbig:36px;
$font-lgbig:48px;
$font-xlbig: 60px;
// Icons Size
$font-lgIcon:28px;
$font-xlgIcon:35px;
$font-xllgIcon:36px;
// BreackPoints

$screen-xxsm:320px;
$screen-msm:370px;
$screen-xsm:380px;
$screen-mo:480px;
$screen-sm:767px;
$screen-iPad:770px;
$screen-laptop:900px;
$screen-tab:960px;
$screen-md:1024px;
$screen-smd:1200px;
$screen-xmd:1280px;
$screen-xxmd: 1366px;
$screen-xlmd:1440px;
$screen-lg:1510px;
$screen-xlg:1700px;
$screen-xxlg:1920px;
$screen-biglg:1921px;
$screen-heightMd:1060px;
$screen-heightLg:1200px;