.Staper-container {
  display: flex;
  background-color: #f0f2f5;
  padding: 25px;
}
.staper-button-container {
  display: flex;
  gap: 20px;
  height: 40px;
  padding-left: 20px;
}
.project-staper,
.source-staper,
.target-staper,
.schema-staper,
.schema-comparison,
.assessment-report,
.schema-migration {
  display: flex;
  gap: 20px;
  align-items: center;
}
.page-rendring {
  width: calc(100vw - 500px);
  height: 412px;
  overflow-y: auto;
}
.breadcrumbs-heading {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pages-container {
  background-color: white;
  height: calc(100vh - 229px);
}
