body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CheckBox{
  float: left;

}

.typeIconContainer svg{
  fill : #d7d413;
  stroke:#d7d413;
  color : #d7d413;
  stroke-width:"4" 
}
/* .typeIconContainer svg path{
  fill:#FF9C6E;

} */