<<<<<<< HEAD
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CheckBox {
  float: left;
}
.typeIconContainer svg{
  fill: #FF9C6E;
  margin-bottom: -10px;
}

/* .typeIconContainer svg path{
  fill:#FF9C6E;

} */
=======
>>>>>>> ff06609886bc9ed2bfaba8cf4da4a9c8c440451f
